h1 {
  color: #eee;
}
html, body {
  max-height: 100vh;
  max-width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
}
.wrapper {
  font-size: 14px;
}
nav {
  height: 40px;
  padding: 8px 20px;
  border-bottom: 1px solid black;
  background-color: $theme;

  #userCount {
    float: right;
    font-size: 1.5em;
    margin-top: -30px;
    color: #eee;
  }
}
nav h1 {
  margin: 4px;
  width: 30px;
}
#message-list {
  height: calc(100vh - 131px);
  padding: 16px 10px;
  background: #eee;
  padding-bottom: $footer;
  overflow: scroll;

  .message {
      padding: 4px 0;
      display: flex;
      margin-left: 7px;
    .username,
    .content {
      display: inline-block;
      padding: 4px 0;
    }
    .username {
      flex: 15;
      margin-right: 16px;
      font-weight: 700;
    }
    .content {
      flex: 85;
    }
    .system {
      font-weight: 400;
      font-style: italic;
    }
  }
}
footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: $footer;
  border-top: 1px solid black;
  background-color: $theme;
  display: flex; align-items: center;
}
footer input {
  border: 1px solid black;
  margin: 4px;
  height: 20px;
  padding: 4px 8px;
}
footer #username {
  flex: 2;
}
footer #new-message {
  flex: 8;
}
